<!DOCTYPE html>
<html>
<head>
    <link href="/public/style.css">
</head>
<body>
    <input type="text" id="username" /><button id="send_username">Cambiar usuario</button>
    <div id="chatroom"></div>
    <input type="text" id="message" placeholder="Eescribe tu mensaje"><button id="send_message">Estupido</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
</body>
</html>